<% if @reservation.errors.any? %>
<div id="mensaje-error">Por favor completa los campos marcados</div>
<% form_for @reservation, :remote => true, :url => { :action => :reserva } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'home' %>
  </div>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, :class => 'home' %>
  </div>
  <div class="field">
    <%= f.label :arrived  %>
    <%= f.text_field :output, :type =>'date' %>
  </div>
  <div class="field">
    <%= f.label :output %>
    <%= f.text_field :output, :type =>'date' %>
  </div>
  <div class="field">
    <%= f.label :number_pass %>
    <%= f.text_field :number_pass, :class => "number" %>
  </div>
 <div class="field3">
	<%= f.label :dormitorios %>
	<div id="button">
     <% TypeRoom.all.each do |type_room| %>
        <%= radio_button_tag "reservation[type_room_id]", type_room.id, :html => {:class =>"radio"} %> <%= type_room.name %>
     <% end %>
    </div>
 </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :class => "home" %>
  </div>
  <div class="field">
    <%= f.label :mail %><br />
    <%= f.text_field :mail, :class => "home"  %>
  </div>
  <div class="field">
    <%= f.submit 'Enviar', :class => 'button' %>
  </div>
<% end %>
<script>
$(":date").dateinput();
</script>

<% else %>

<div id="mensaje-reserva">Estimado <strong><%= @reservation.name %></strong> gracias por hacer tu reserva.<br> <br>
Un ejecutivo se contactará con usted a la brevedad.<br><br>
Una copia con el detalle de la reserva fue enviado a <strong><%= @reservation.mail %></strong><br><br>
</div>

<% end %>