<div id="anima">
<div id="showcase3">
	<a><img src="images/home/1.jpg"  /></a>
    <a><img src="images/home/2.jpg" /></a>
    <a><img src="images/home/4.jpg" /></a>
</div>
</div>

<div id="box">
 <h2>Haz tu Reserva</h2>
<div id="form-home">
	<%= form_for(@reservation) do |f| %>
	  <div class="field2">
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :arrived  %><br />
	    <%= f.text_field :arrived, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :output %><br />
	    <%= f.text_field :output, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :number_pass %><br />
	    <%= f.text_field :number_pass, :class => "number" %>
	  </div>
	 <div class="field3">
		<%= f.label "Dormitorios" %><br />
		<div id="button">
	     <% TypeRoom.all.each do |type_room| %>
	        <%= radio_button_tag type_room.id, type_room.name, :html => {:class =>"radio"} %> <%= type_room.name %>
	     <% end %>
	    </div>
	 </div>
	  <div class="field">
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :mail %><br />
	    <%= f.text_field :mail, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.submit 'Enviar', :class => 'button' %>
	  </div>
	<% end %>
	<script>
	$(":date").dateinput();
	$("img[rel]").overlay();
	</script>
  </div>
</div>

<div id="box">
 <div id="parrafo">
 	Enfocados en brindar un alojamiento donde usted sólo se ocupe de sus negocios y descanso. Apart Hotel Urban Suite le brinda lo mejor de sus servicios:
 </div>
 <div id="img-servicios"></div>
 <div id="icon-map"></div>
 <div id="text-ubicacion">
	<span class="titulo">Ubicación</span><br>
	Conozca sobre su privilegiado sector
 </div>
</div>		
</div>