<div id="anima">
<div id="showcase3">
	<a><img src="images/home/1.jpg"  /></a>
    <a><img src="images/home/2.jpg" /></a>
    <a><img src="images/home/3.jpg" /></a>
    <a><img src="images/home/4.jpg" /></a>
    <a><img src="images/home/5.jpg" /></a>
</div>
</div>

<div id="box">
 <h2><%= t 'titulos.reserva' %></h2>
<div id="form-home">
	<% form_for @reservation, :url => { :action => :reserva } do |f| %>
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :class => 'home' %>
	  </div>
	  <div class="field">
	    <%= f.label :lastname %><br />
	    <%= f.text_field :lastname, :class => 'home' %>
	  </div>
	  <div class="field">
	    <%= f.label :arrived  %><br />
	    <%= f.text_field :arrived, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :output %><br />
	    <%= f.text_field :output, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :number_pass %><br />
	    <%= f.text_field :number_pass, :class => "number" %>
	  </div>
	 <div class="field3">
		<%= f.label :dormitorios %><br />
		<div id="button">
	     <% TypeRoom.all.each do |type_room| %>
	        <%= radio_button_tag "reservation[type_room_id]", type_room.id, :html => {:class =>"radio"} %> <%= type_room.name %>
	     <% end %>
	    </div>
	 </div>
	  <div class="field">
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :mail %><br />
	    <%= f.text_field :mail, :class => "home"  %>
	  </div>
	  <div class="field">
	    <%= f.submit 'Enviar', :class => 'button' %>
	  </div>
	<% end %>
	<script>
	$(":date").dateinput();
	</script>
  </div>
</div>

<script>
$("#new_reservation").validator();
</script>


<div id="box">
 <div id="parrafo">
    <%= t 'parrafos.parrafo_home' %>
 </div>
 <div id="text-servi"><%= t 'servicios.tre' %></div>
<div id="tras"><%= t 'servicios.aeropuerto' %> </div>
 <a href="/reservas"><div id="icon-map"></div></a>
 <div id="text-ubicacion">
   <a href="/reservas"><span class="ubicacion"><%= t 'textos.ubicacion' %></span></a><br>
	<%= t 'frases.conozca' %>
 </div>
</div>		
</div>