<div id="anima">
<div id="showcase3">
	<a><img src="images/home/1.jpg" width="880" height="306" alt="Apart Hotel Urban Suites posee piscina en la azotea con espectacular vista panorámica de Santiago de Chile"/></a>
    <a><img src="images/home/2.jpg" width="880" height="306" alt="Salon de reuniones para sus clientes"/></a>
    <a><img src="images/home/3.jpg" width="880" height="306" alt="Apart Hotel Urban Suites tiene Gimnasio totalmente equipado"/></a>
    <a><img src="images/home/4.jpg" width="880" height="306" alt="Apart Hotel Urban Suites tiene una previlegiada ubicación en el corazon de Providencia, Santiago de Chile"/></a>
</div>
</div>

<div id="box">
 <h2><%= t 'titulos.reserva' %></h2>
<div id="form-home">
	<% form_for @reservation, :url => { :action => "reserva" }, :remote => true do |f| %>

	
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :class => 'home' %>
	  </div>
	  <div class="field">
	    <%= f.label :lastname %><br />
	    <%= f.text_field :lastname, :class => 'home' %>
	  </div>
	  <div class="field">
	    <%= f.label :arrived  %><br />
	    <%= f.text_field :arrived, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :output %><br />
	    <%= f.text_field :output, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :number_pass %><br />
	    <%= f.text_field :number_pass, :class => "number" %>
	  </div>
	 <div class="field3">
		<%= f.label :dormitorios %><br />
		<div id="button">
	     <% TypeRoom.all.each do |type_room| %>
	        <%= radio_button_tag "reservation[type_room_id]", type_room.id, :html => {:class =>"radio"} %> <%= type_room.name %>
	     <% end %>
	    </div>
	 </div>
	  <div class="field">
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :mail %><br />
	    <%= f.text_field :mail, :class => "home"  %>
	  </div>
	  <div class="field">
	    <%= f.submit 'Enviar', :class => 'button' %>
	  </div>
	<% end %>
	<div id="msn">
	<div id="loading" style="display:none;"><%= image_tag "/images/ajax-loader.gif"%></div>
	</div>
	
	<script>
	$(":date").dateinput();
	</script>
  </div>
</div>

<div id="box">
 <div id="parrafo">
    <%= t 'parrafos.parrafo_home' %>
 </div>
 <div id="text-servi"><%= t 'servicios.tre' %></div>
<div id="tras"><%= t 'servicios.aeropuerto' %> </div>
 <div id="icon-map"><%= link_to image_tag("/images/icon-map.png"), ubicacion_path %></div>
 <div id="text-ubicacion">
   <%= link_to "Ubicación", ubicacion_path %><br>
	<%= t 'frases.conozca' %>
 </div>
</div>		
</div>