<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion"><%= t 'titulos.titulo_reserva' %></span><br>
     <%= t 'parrafos.parrafo_reserva' %> 	
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
     	<div id="box-reserva">
		<div id="form-home">
			<% form_for @reservation, :remote => true, :url => { :action => :reserva } do |f| %>
			  <div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name, :class => 'home' %>
			  </div>
			  <div class="field">
			    <%= f.label :lastname %><br />
			    <%= f.text_field :lastname, :class => 'home' %>
			  </div>
			  <div class="field">
			    <%= f.label :arrived  %><br />
			    <%= f.text_field :arrived, :type =>'date' %>
			  </div>
			  <div class="field">
			    <%= f.label :output %><br />
			    <%= f.text_field :output, :type =>'date' %>
			  </div>
			  <div class="field">
			    <%= f.label :number_pass %><br />
			    <%= f.text_field :number_pass, :class => "number" %>
			  </div>
			 <div class="field3">
				<%= f.label :dormitorios %><br />
				<div id="button">
			     <% TypeRoom.all.each do |type_room| %>
			        <%= radio_button_tag "reservation[type_room_id]", type_room.id, :html => {:class =>"radio"} %> <%= type_room.name %>
			     <% end %>
			    </div>
			 </div>
			  <div class="field">
			    <%= f.label :phone %><br />
			    <%= f.text_field :phone, :class => "home" %>
			  </div>
			  <div class="field">
			    <%= f.label :mail %><br />
			    <%= f.text_field :mail, :class => "home"  %>
			  </div>
			  <div class="field">
			    <%= f.submit 'Enviar', :class => 'button' %>
			  </div>
			<% end %>
			<script>
			$(":date").dateinput();
			</script>
		  </div>
		<div id="consultas-r">
	    	<span style="font-size:14px;"><%= t 'titulos.consultas_telefonicas' %>:</span><br><br>

			<%= t 'textos.horarios' %> 9:00 a 18:00<br>
            <%= t 'textos.fono' %> (56 2) 9357625 <br>
			<!--<%= t 'textos.celular' %> (56 9) - 78977444<br><br>-->
			contacto@urbansuite.cl
	    </div>
		</div>
		<div id="imagen-servicios">
		<div id="imagenes">
	        <img src="/images/servicios/1.jpg" />
	        <img src="/images/servicios/2.jpg" />
	        <img src="/images/servicios/3.jpg" />
	        <img src="/images/servicios/4.jpg" />
	        <img src="/images/servicios/5.jpg" />
	    </div>
	    </div> 

    </div>
 </div>