<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion">Reserva</span><br>
     Haga su reserva a través del siguiente formulario y un ejecutivo se contactará con usted a la brevedad.  	
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
     	<div id="box-reserva">
		<div id="form-home">
			<%= form_for(@reservation) do |f| %>
			  <div class="field2">
			    <%= f.label :name %><br />
			    <%= f.text_field :name, :class => "home" %>
			  </div>
			  <div class="field">
			    <%= f.label :arrived  %><br />
			    <%= f.text_field :arrived, :type =>'date' %>
			  </div>
			  <div class="field">
			    <%= f.label :output %><br />
			    <%= f.text_field :output, :type =>'date' %>
			  </div>
			  <div class="field">
			    <%= f.label :number_pass %><br />
			    <%= f.text_field :number_pass, :class => "number" %>
			  </div>
			 <div class="field3">
				<%= f.label "Dormitorios" %><br />
				<div id="button">
			     <% TypeRoom.all.each do |type_room| %>
			        <%= radio_button_tag type_room.id, type_room.name, :html => {:class =>"radio"} %> <%= type_room.name %>
			     <% end %>
			    </div>
			 </div>
			  <div class="field">
			    <%= f.label :phone %><br />
			    <%= f.text_field :phone, :class => "home" %>
			  </div>
			  <div class="field">
			    <%= f.label :mail %><br />
			    <%= f.text_field :mail, :class => "home" %>
			  </div>
			  <div class="field">
			    <%= f.submit 'Enviar', :class => 'button' %>
			  </div>
			<% end %>
			<script>
			$(":date").dateinput();
			$("img[rel]").overlay();
			</script>
		  </div>
		<div id="consultas-r">
	    	<span style="font-size:14px;">Consultas Telefónicas</span><br><br>

			Horario Oficina: 9:00 a 18:00<br>

			(56 2) 7857140<br>
			(56 2) 7614011<br>
			Celular: (56 9) - 78977444<br><br>
			contacto@urbansuite.cl
	    </div>
		</div>
		<div id="imagen-servicios">
		<div id="imagenes">
	        <img src="images/servicios/1.jpg" />
	        <img src="images/servicios/2.jpg" />
	        <img src="images/servicios/3.jpg" />
	        <img src="images/servicios/4.jpg" />
	        <img src="images/servicios/5.jpg" />
	    </div>
	    </div> 

    </div>
 </div>