<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion"><%= t 'titulos.servicios' %></span><br>
		<%= t 'parrafos.parrafo_servicios' %>
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
	<div id="box-servicios">	
	<ul id="navi">
		<li>- <%= t 'servicios.confortables' %> </li>
		<li>- <%= t 'servicios.cama' %> </li>
	    <li>- <%= t 'servicios.aire' %></li>
		<li>- <%= t 'servicios.telefonia_internet' %>. </li>
		<li>- <%= t 'servicios.tv' %></li>
		<li>- <%= t 'servicios.equipo' %>  </li>
		<li>- <%= t 'servicios.mucama' %></li>
		<li>- <%= t 'servicios.lavanderia' %></li>
		<li>- <%= t 'servicios.caja' %></li>			
		<li>- <%= t 'servicios.estacionamiento' %></li>
		<li>- <%= t 'servicios.secador' %></li>
		<li>- <%= t 'servicios.cocina' %></li>
		<li>- <%= t 'servicios.piscina' %></li>
	    <li>- <%= t 'servicios.gym' %></li>
	    <li>- <%= t 'servicios.taxi' %> </li>
	    <li>- <%= t 'servicios.atencion' %></li>
		<li>- <%= t 'servicios.atencion2' %></li>					
    </ul>
     <div id="realice"><a href="#"  rel="div.overlay:eq(0)"><%= t 'textos.reserva' %></a></div>
    </div>


    
    <div id="imagen-servicios">
	<div id="imagenes">
        <img src="/images/servicios/1.jpg" />
        <img src="/images/servicios/2.jpg" />
        <img src="/images/servicios/3.jpg" />
        <img src="/images/servicios/4.jpg" />
        <img src="/images/servicios/5.jpg" />
    </div>
    </div>
    </div>
 </div>

<div id="reservation" class="overlay" style="display:none">
 <h2>Haz tu Reserva</h2>
<div id="form-home">
	<%= form_for(@reservation) do |f| %>
	  <div class="field2">
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :arrived  %><br />
	    <%= f.text_field :arrived, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :output %><br />
	    <%= f.text_field :output, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :number_pass %><br />
	    <%= f.text_field :number_pass, :class => "number" %>
	  </div>
	 <div class="field3">
		<%= f.label "Dormitorios" %><br />
		<div id="button">
	     <% TypeRoom.all.each do |type_room| %>
	        <%= radio_button_tag type_room.id, type_room.name, :html => {:class =>"radio"} %> <%= type_room.name %>
	     <% end %>
	    </div>
	 </div>
	  <div class="field">
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :mail %><br />
	    <%= f.text_field :mail, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.submit 'Enviar', :class => 'button' %>
	  </div>
	<% end %>
	<script>
	$(":date").dateinput();
	$("img[rel]").overlay();
	</script>
  </div>
</div>