<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion">Servicios</span><br>
	En Urban Suite queremos que su estancia sea lo más confortable posible por ello le ofrecemos los siguientes servicios: 	
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
	<div id="box-servicios">	
	<ul id="navi">
		<li>- Confortables departamentos de uno y dos dormitorios. </li>
		<li>- Cama king president. </li>
	    <li>- Aire acondicionado y calefacción.</li>
		<li>- Telefonía local ilimitada, Internet Wi-Fi. </li>
		<li>- Televisor full HD con TV cable. </li>
		<li>- Equipo de música con base de Ipod y Iphone  </li>
		<li>- Servicio de mucama de Lunes a Sábado.</li>
		<li>- Lavandería para ropa de cama y baño.</li>
		<li>- Caja de seguridad digital.</li>			
		<li>- Estacionamiento subterráneo privado.</li>
		<li>- Secador de pelo.</li>
		<li>- Cocinas full equipadas.</li>
		<li>- Piscina en azotea.</li>
	    <li>- Gimnasio equipado.</li>
	    <li>- Servicio de taxis acreditados
	    <li>- Atención en horario de oficinas de 09:00 a 18:30 hrs.</li>
		<li>- Atención 24/7 teléfono emergencias.</li>					
    </ul>
     <div id="realice"><a href="#"  rel="div.overlay:eq(0)">Realice una reserva</a></div>
    </div>


    
    <div id="imagen-servicios">
	<div id="imagenes">
        <img src="images/servicios/1.jpg" />
        <img src="images/servicios/2.jpg" />
        <img src="images/servicios/3.jpg" />
        <img src="images/servicios/4.jpg" />
        <img src="images/servicios/5.jpg" />
    </div>
    </div>
    </div>
 </div>

<div id="reservation" class="overlay" style="display:none">
 <h2>Haz tu Reserva</h2>
<div id="form-home">
	<%= form_for(@reservation) do |f| %>
	  <div class="field2">
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :arrived  %><br />
	    <%= f.text_field :arrived, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :output %><br />
	    <%= f.text_field :output, :type =>'date' %>
	  </div>
	  <div class="field">
	    <%= f.label :number_pass %><br />
	    <%= f.text_field :number_pass, :class => "number" %>
	  </div>
	 <div class="field3">
		<%= f.label "Dormitorios" %><br />
		<div id="button">
	     <% TypeRoom.all.each do |type_room| %>
	        <%= radio_button_tag type_room.id, type_room.name, :html => {:class =>"radio"} %> <%= type_room.name %>
	     <% end %>
	    </div>
	 </div>
	  <div class="field">
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.label :mail %><br />
	    <%= f.text_field :mail, :class => "home" %>
	  </div>
	  <div class="field">
	    <%= f.submit 'Enviar', :class => 'button' %>
	  </div>
	<% end %>
	<script>
	$(":date").dateinput();
	$("img[rel]").overlay();
	</script>
  </div>
</div>