<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion"><%= t 'titulos.servicios' %></span><br>
	<span class="parrafo">	<%= t 'parrafos.parrafo_servicios' %></span>
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
	<div id="box-servicios">	
	<ul id="navi">
		<li>- <%= t 'servicios.confortables' %> </li>
		<li>- <%= t 'servicios.cama' %> </li>
	    <li>- <%= t 'servicios.aire' %></li>
		<li>- <%= t 'servicios.telefonia_internet' %>. </li>
		<li>- <%= t 'servicios.tv' %></li>
		<li>- <%= t 'servicios.equipo' %>  </li>
		<li>- <%= t 'servicios.mucama' %></li>
		<li>- <%= t 'servicios.lavanderia' %></li>
		<li>- <%= t 'servicios.caja' %></li>			
		<li>- <%= t 'servicios.estacionamiento' %></li>
		<li>- <%= t 'servicios.secador' %></li>
		<li>- <%= t 'servicios.cocina' %></li>
		<li>- <%= t 'servicios.piscina' %></li>
	    <li>- <%= t 'servicios.gym' %></li>
	    <li>- <%= t 'servicios.taxi' %> </li>
	    <li>- <%= t 'servicios.atencion' %></li>
		<li>- <%= t 'servicios.atencion2' %></li>					
    </ul>
     <div id="realice"><a href="#"  rel="div.overlay:eq(0)"><%= t 'textos.reserva' %></a></div>
    </div>


    
    <div id="imagen-servicios">
	<div id="imagenes">
        <img src="/images/servicios/1.jpg" alt="Apart hotel con piscina" />
        <img src="/images/servicios/2.jpg" alt="Aparthotel en Santiago"/>
        <img src="/images/servicios/3.jpg" alt="Apart hotel en Providencia"/>
        <img src="/images/servicios/4.jpg" alt="Apart hotel en Chile"/>
        <img src="/images/servicios/5.jpg" alt="Hotel en Santiago"/>
    </div>
    </div>
    </div>
 </div>

</div>