<!DOCTYPE html>
<html>
<head>
  <title>Urban Suites - Apart hotel en Santiago de Chile - Hotel of Chile - Santiago Chile lodging</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery.tools.min', 'shadowbox' %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /><meta name="description" content="Urban Suites Apart Hotel en Santiago de Chile, excelente ubicación en pleno corazón de Providencia, elegantes departamentos de uno y dos dormitorios, con excelentes terminaciones, espacios de máxima comodidad y gran estilo." />
<meta name="keywords" content="Apart hotel, apart hotel en santiago, apart hotel providencia, hoteles en santiago, hotel en santiago, hoteles de santiago, hoteles en chile, hotel chile, hotel en santiago de chile, santigo de chile hoteles, apart hoteles
hotel apart hotel, departamentos en arriendo en santiago, departamentos amoblados en santiago, arriendo de departamentos en santiago, departamentos amoblados, hoteles en santiago chile, hotel providencia, santiago apart hotel, alojamiento en santiago, suites en santiago, alojamientos en santiago, hotel of chile, santiago de chile hoteles, santiago chile lodging, apartments in chile, breakfast in chile, Holidays in chile, hotels viña del mar" />
  <meta name="google-site-verification" content="y8H0bXEEVSVouY1hnn7XO_Qp7_3hdOXQzfkVLep96U4" />


<script type="text/javascript">
Shadowbox.init();
</script>

<script>
$(function() {		

	// positions for each overlay
	var positions = [ 
		[400,100],
		[400,100]   
	];	

	// setup triggers
	$("a[rel]").each(function(i) {

		$(this).overlay({

			// common configuration for each overlay
			oneInstance: false, 
			closeOnClick: false, 

			// setup custom finish position
			top: positions[i][0],
			left: positions[i][1],

			// use apple effect
			effect: 'apple'

		});			
	});

});

</script>


<style type="text/css" media="screen">
ul { list-style-type: none;}
</style>


</head>
<body>
	
<div id="head">

	<div id="llamar">
	    <span class="titulo"><%= t 'textos.reserva' %>!</span> <a href="es"><%= image_tag "/images/spanish.png" %></a>
	 <a href="en"><%= image_tag "/images/english.png" %></a> <br>
	    <div id="icon-fono"></div>
	    <div id="num-texto">
		   + 56 2 9357625
		</div>
		<div id="addres">
		   <%= t 'textos.direccion' %>: Av. 11 de septiembre 2170 esquina Ricardo Lyon  
		</div>
	</div>
	 <div id="menuhoriz">  
	   <ul>  
	      <li><%= link_to "#{t 'menu.inicio'}", root_path %></li>  
	      <li><%= t 'menu.apart_hotel' %></li>  
	      <li><%= link_to "#{t 'menu.departamentos'}", departamentos_path %></li>
		  <li><%= link_to "#{t 'menu.servicios'}", servicios_path %></li>
	      <li><%= link_to "#{t 'menu.ubicacion'}", ubicacion_path %></li>
	      <li><%= link_to "#{t 'menu.reservas'}", reservas_path %></li>
	      <li><%= link_to "#{t 'menu.contacto'}", contacto_path %></li>    
	   </ul> 
	 </div>
	<div id="logo"></div>
</div>

<%= yield %>


<div id="footer">
   <div id="menu-footer">
	<div id="logo-small"></div>	
	<div id="marca-dire">Av. 11 de septiembre 2170 <br> Apart Hotel © 2010 Urban Suite </div>
	<div id="consulta">
		<%= t 'textos.consultas' %>:<br>
		<%= t 'textos.horarios' %> 9:00 a 18:00 <br> 
		<%= t 'textos.fono' %> (56 2) 9357625 <br>
		<!--<%= t 'textos.celular' %> (56 9) - 88283754-->
		contacto@urbansuites.cl
	</div>	
	<div id="menuhoriz2">  
	   <ul>  
	      <li>Apart Hotel en Santiago</li>  
	      <li>Apart Hotel en Antofagasta</li>  
	      <li>Reserva de Apart Hotel en Santiago</li>
		  <li>Reserva de Apart Hotel en Antofagasta</li>  
	   </ul>  
	 </div>
	</div>
</div>	
</body>
</html>